@charset "utf-8";
/* CSS Document */

.container .list .main .userlist .user {
	height: 60px;
	padding: 10px 0;
	margin-left: 10px;
	border-bottom: 1px solid #E7E6EB;
	z-index: 1;
}
.container .list .main .userlist .user .transition {
	position: relative;
}F:\sinooceanland\svn\02.Develop\MobileWebApp\MobileBusiness.Catering.Manage\Style\catering.css
.container .list .main .user img {
	float: left;
	width: 58px;
	height: 58px;
	margin-left: 12px;
}
.container .list .main .user h2 {
	float: left;
	margin-left: 12px;
	line-height: 19px;
}
.container .list .main .user h3 {
	float: left;
	width: 85px;
	margin-left: 12px;
	font-size: 12px;
	line-height: 52px;
}
.container .list .main .user em {
	float: left;
	width: 47px;
	height: 18px;
	margin-top: 18px;
	background: url("../../images/active.png");
	cursor: pointer;
}
.container .list .main .user .start_time,
.container .list .main .user .end_time {
	float: left;
	margin: 0 -23px 0 125px;
	font-weight: normal;
	color: #999;
}
.container .list .main .user .button {
	position: relative;
	float: right;
	display: block;
	width: 123px;
	height: 36px;
	margin-top: -10px;
	margin-right: 5px;
	border: 1px solid #E7E6EB;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}


.container .list .main .wximglist{padding:10px 0 0 10px;}
.container .list .main .wximglist .wximg{float:left; width:163px; height:191px; border:solid 1px #e7e6eb; margin:10px;}
.container .list .main .wximglist .wximg .img{text-align:center; height:125px;}
.container .list .main .wximglist .wximg .chk{padding:3px 0 3px 6px; height:27px;}
.container .list .main .wximglist .wximg .icon{background-color:#f4f5f9; height:32px;}

.container .list .main .wxnewslist{padding:10px 0 0 0;}
.container .list .main .wxnewslist .wxnews{float:left; border:solid 1px #e7e6eb; width:290px; margin:10px; padding-top:10px;}
.container .list .main .wxnewslist .wxnews .title{font-size:16px; padding:0 15px 6px 15px;}
.container .list .main .wxnewslist .wxnews a:hover{text-decoration:underline;}
.container .list .main .wxnewslist .wxnews .date{padding:0 0 0 15px;}
.container .list .main .wxnewslist .wxnews .img1{padding:6px 0 6px 15px;}
.container .list .main .wxnewslist .wxnews .des{padding:10px 0 15px 15px;}
.container .list .main .wxnewslist .wxnews .icon{background-color:#f4f5f9; height:42px;}
.container .list .main .wxnewslist .wxnews .icon li{width:145px; background-position:center; margin:0; padding-top:24px;}
.container .list .main .wxnewslist .wxnews .icon .leftline{border-left:solid 1px #e7e6eb; width:144px;}
.container .list .main .wxnewslist .wxnews .news2{padding:20px 15px 20px 15px; border-top:solid 1px #e7e6eb;}
.container .list .main .wxnewslist .wxnews .title2{float:left; width:183px; padding-top:20px;}
.container .list .main .wxnewslist .wxnews .img2{float:left; width:77px;}
.container .list .main .wxnewslist .oldnews{visibility:hidden; height:0;}
.container .list .main .wxnewslist .newslist{float:left; width:312px;}


.container .list .main .sellerlist {
	height: 100%;
	z-index: 1;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.container .list .main .sellerlist .textlong:first-child {
    margin-left: 19px;
}
.container .list .main .sellerlist .seller {
	height: 30px;
	padding: 10px 0;
	margin-left: 10px;
	border-bottom: 1px solid #E7E6EB;
	z-index: 1;
	line-height:32px;
}
.container .list .main .sellerlist .seller .transition {
	position: relative;
}
.container .list .main .seller img {
	float: left;
	width: 58px;
	height: 58px;
	margin-left: 12px;
}
.container .list .main .seller h2 {
	float: left;
	margin-left: 12px;
	line-height: 19px;
}
.container .list .main .seller h3 {
	float: left;
	width: 85px;
	margin-left: 12px;
	font-size: 12px;
	line-height: 52px;
}
.container .list .main .seller em {
	float: left;
	width: 47px;
	height: 18px;
	margin-top: 18px;
	background: url("../../images/active.png");
	cursor: pointer;
}
.container .list .main .seller .start_time,
.container .list .main .seller .end_time {
	float: left;
	margin: 0 -23px 0 125px;
	font-weight: normal;
	color: #999;
}
.container .list .main .seller .button {
	position: relative;
	float: right;
	display: block;
	width: 123px;
	height: 36px;
	margin-top: -10px;
	margin-right: 5px;
	border: 1px solid #E7E6EB;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}
.container .list .main .sellerlist .seller .text {
	float: left;
	padding: 0 23px 0 8px;
	font-weight: normal;
	color: #999;
	width:80px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.textlong {
	float: left;
	padding: 0 23px 0 8px;
	font-weight: normal;
	color: #999;
	width:125px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.textshort {
	float: left;
	padding: 0 23px 0 8px;
	font-weight: normal;
	color: #999;
	width:50px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.container .list .main .sellerlist .seller .img {
	float: left;
	padding: 0 23px 0 8px;
	font-weight: normal;
	width:30px;
	height:30px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#right_panel
{
    height:100%;
}
.errorSpan .error,.errorSpan,.error
{
    color:Red;
}

        .div_order_infor
        {
            background: #fff;
            padding: 10px 20px;
            height:400px;
            overflow:auto;
            overflow-x:hidden;
            
        }
        .sp_title
        {
            border-bottom: 3px solid #de773f;
            background: #fff;
            width: 30px;
            margin-top: 20px;
            font-weight: bold;
           
        }
        
        .sp_long_title
        {
            width:70px;
            /*padding-left:230px;*/
        }
        
        .tb_detail
        {
            /*border-top: solid #ddd 1px;
            border-left: 1px solid #ddd;*/
            border:1px solid #ddd;
            display: table;
            margin-top: 10px;
            width: 100%;
        }
        
        .td_infor
        {
            color: #999;
            font-size: 14px;
            text-align: center;
            border:1px solid #ddd;
            /*border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;*/
            height: 30px;
            line-height: 30px;
        }
        
         .list-yy
        {
            clear: both;
            display: block;
            float: left;
            margin-top: 10px;
        }
        
        .btitle
        {
            width: 27%; 
            margin-top: 10px;
            margin-right: 30px;
            float: left;
         }
        .ctitle
        {
            width: 100%; 
            margin-top: 10px;
            margin-right: 30px;
            float: left;
         }



/*新加样式*/
.connect_info 
{
    float:left;
    line-height:40px;
    
}

/*.content_main img 
{
    height:80px;
    width:100px;
}*/
.container .list .main .input_area img{
 max-height:80px;
    max-width:100px;
}

.connect_grey 
{
    color:#999;
}

.connect_info_3_left 
{
    float: left;
    width:100px;
    text-align:right;
}

.connect_info_3_right
{
    float: left;
    padding:0 20px;
    width:116px;
}
.bigpopup .popinner .tab_list
{
    margin:0;
    padding:0;
}
.bigpopup .popinner .tab_list td
{
    padding:10px 0;
}
.bigpopup .popinner .tab_list input
{
    margin:0;
}
.content
    {
        width: 880px;
        z-index: 9999;
        display: block;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-top: -287.5px;
        margin-left: -440px;
    }
.line
{
    border: 1px dotted #ddd;
    margin-top: 10px;
}
.order-inform
{
    float: left;
    width: 33%;
    margin-top: 10px;
}
.title
{
    float: left;
}
.value
{
    float: left;
}
.li-star
{
    float: left;
    margin: 0 .1em;
    background-size: 100%;
    cursor: pointer;
    list-style: none;
}
.value10
{
    text-align: left;
    margin-top: 12px;
    float: left;
    width: 630px;
    word-wrap: break-word;
    padding-left: 10px;
}
.title1
{
    float: left;
    margin-top: 10px;
}
    .value1_1
{
    float: left;
    width: 300px;
}
        
.value1_2
{
    float: left;
    width: 200px;
}
    .table-b tr td
{
    border: 1px solid #ddd;
}
        
.line_dotted
{
    border-top: 1px dotted #e7e6eb;
}
        
.news_list
{
    padding-left: 0;
    list-style-type: none;
}
.news_item
{
    position: relative;
    border-top: 1px solid #e7e7eb;
    font-size: 14px;
    line-height: 40px;
}
.news_item:first-child 
{
    border-top-width: 0;
}
.news_item a
    {
    display: block;
    padding-right: 10em;
    padding-left: 20px;
    color: #222;
    text-decoration: none;
    cursor: pointer;
    }
.news_item a:hover
{
    color:#459ae9;
    }

.news_item a strong 
{ 
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    }
 

.news_item .read_more
    {
    position: absolute;
    right: 20px;
    top: 0;
    color: #8d8d8d;
    text-decoration: none;
}
.icon_common.recommend
{
    margin-left: 6px;
    background: url("../images/tuijian2.png") no-repeat;
    width: 18px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
    margin-bottom: 8px;
    }
    .icon_common.new
{
    margin-left: 6px;
    background: url("../images/new.jpg") no-repeat;
    width: 18px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
    }
    .tr
{
    border-bottom: 1px solid gainsboro;
}
    .displayN {
    display: none;
}
    .cityList
{
    height: 320px;
    width: 372px;
    overflow-y: auto;
}
.sel_container
{
    z-index: 9999;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 140px;
    background: rgba(255,255,255,0.8);
    height: 30px;
    line-height: 30px;
    padding: 5px;
}
.map_popup
{
    position: absolute;
    z-index: 200000;
    width: 382px;
    height: 344px;
    right: 0px;
    top: 40px;
}
.map_popup .popup_main
{
    background: #fff;
    border: 1px solid #8BA4D8;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.map_popup .title
{
    background: url("http://map.baidu.com/img/popup_title.gif") repeat scroll 0 0 transparent;
    color: #6688CC;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    padding-left: 7px;
}
.map_popup button
{
    background: url("http://map.baidu.com/img/popup_close.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 12px;
}
.value5
{
    width:0px !important;
}
    .DeskNumList
{
    width: 120px;
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 5px;
    color: #999;
    line-height: 23px;
}
.zhouhao.selected
{
    border: 1px solid #de773f;
    color: #de773f;
}
.star_rating
{
    line-height:25px;
    font-size:14px;
    color:#000;  
}
/*合伙人后台样式*/
.evaluationlist_search_input
{
    padding-left:6px;
}
.evaluationlist_top
{
    margin-bottom: 48px;
}
.evaluationlist_content
{
    border-top:1px solid #E7E6EB;
    clear:both;
    border-bottom:1px solid #E7E6EB;
    margin-bottom:20px;
}
.evaluationlist_title
{
    float: left;
    margin: 20px 0 0 0 ;
    font-size:14px;
}
.evaluationlist_time
{
    float: right;
    margin: 1px 50px;
}
.evaluationlist_p
{
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 20px;
    color:#999;
}
.evaluationlist_li_span
{
        margin-right: 5.85px;
}
    .evaluationlist_img
{
        margin-right:2px;
}
.evaluationlist_right
{
    float:right;
}
/*evaluationinfo*/
    .evaluationinfo_content
{
    float:left;
    border-top:1px solid #E7E6EB;
    border-bottom:1px solid #E7E6EB;
    padding-bottom:20px;
    width:100%;
}
.evaluationinfo_title
{
    float:left;
    width:8%;
    margin-top:20px;
    font-size:16px;
}
.evaluationinfo_info
{
    float:left;
    border:1px solid #e7e7eb;
    margin-top:20px;
    padding: 10px 20px;
    width:87.6%;
    height: 120px;
    overflow: auto;
    overflow-x: hidden;
}
input[type='text'],input[type='submit'],input[type='password'],button { -webkit-appearance: none;}
         
.evaluationinfo_button
{
    float:right;
    width:60px;
    height: 30px;
    margin-top:90px;
    margin-right:2px;
    border: none;
    background: #DE773F;
    color: #fff;
}
.evaluationinfo_ul
{
    border-top:1px solid #E7E6EB;
    border-bottom:1px solid #E7E6EB;
    margin:20px 0 ;
    padding-bottom:20px;
}
         
/*PlatformDataList*/
.evaluationinfo_span
{
    margin-right:30px;
    line-height: 40px;
}
     
/*SellerDataTable*/
.container .list .main .searchbar .checkbox
{
    line-height:16px;
    margin-left:10px;
}   
.container .list .main .searchbar .checkbox input
{
    width: 12px;
    height: 12px;
}     
        
   /*IncomeRuleInfo*/
        
.ruleinfo_table 
{        
    width:100%;
}
.ruleinfo_table tr
{
    border: 1px solid #ddd;
    text-align: center; 
    line-height: 30px;
}
.ruleinfo_table tr td
{
    border:1px solid #ddd;
}
.ruleupdate_input
{
    border: 1px solid #ddd;
    line-height: 22px;
    text-align: center;
    width: 55px;
    height:22px;
    border-radius:3px;
}
.ruleupdate_free_input
{
    border: 1px solid #ddd;
    line-height: 30px;
    text-align: center;
    width: 80px;
    height:25px;
    border-radius:6px;
}
/*complaintReportInfo.aspx*/
.complaintReport_title
{
    float: left;
    width: 100px;
    text-align: right;
}
.complaintReport_titlecenter
{
    padding: 18px 0;
    float: left;
    width: 100px;
    text-align: right;
}
.complaintReport_value
{
    padding: 12px 0;
    float: left;
    padding-left: 10px;
    width: 767px;
    min-height: 20px;
}
.password
{
    height: 30px;
    border: 1px solid #E6E7EB;
    padding-left: 6px;
    line-height: 30px;
}
/*排序按钮样式*/
.sort {
	background-image: url(../images/small.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-position:66px 14px;
}
.SortAscCss
{
    background-image: url(../images/asc.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-position:66px 14px;
}

.SortDescCss
{
    background-image: url(../images/desc.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-position:66px 14px;
}